<div class="container">
    <div class="row">
        <div class="col-4">
            <div class="mb-3">
                <label class="form-label">Filtro</label>
                <input type="text" [(ngModel)]='filtro' class="form-control"> 
                <button (click)="filtrar(filtro)" class="btn btn-primary">Filtrar</button>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="pokeFiltro=='';else filtrados">
        <div class="col-sm-4 ms-0 mt-3 mx-2" *ngFor="let pokemon of pokemons">
            <img src="{{pokemon.sprites.front_default}}">
            <p>{{pokemon.name}}</p>
            <button (click)="detalle(pokemon.id)" routerLink="/detail" class="btn btn-primary" type="button">
                Detalle
            </button>
        </div>
    </div>
    <ng-template #filtrados>
        <div class="col-sm-4 ms-0 mt-3 mx-2 char" *ngFor="let pokemon of pokeFiltro">
            <div>
                <img src="{{pokemon.sprites.front_default}}">
                <p>{{pokemon.name}}</p>
                <button (click)="detalle(pokemon.id)" routerLink="/detail" class="btn btn-primary" type="button">
                    Detalle                    
                </button>                
            </div>
        </div>
    </ng-template>
</div>
